/* ///////////////////////////////
// Nav Bar
//////////////////////////////// */

.nav {
    display: flex;
    justify-content: space-between;
}

.navBarRight {
    display: flex;
    justify-content: space-between;
}

.navButtonSpot {
    padding: 20px;
}

.navLink {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.navButton {
    padding: 10px;
    border-radius: 10px;
    color: rgb(82, 82, 82);
}

.navButton:hover {
    background-color: rgba(13, 30, 128, 0.5);
}

/* ///////////////////////////////
// Home Page
//////////////////////////////// */

.homeH1 {
    font-size: 50px;
    display: flex;
    justify-content: space-evenly;
}

.homeHey {
    color: rgb(82, 82, 82);
}

.profilePicture {
    max-height: 800px;
    border-radius: 5px;
}

html {
    min-width: 100%;
}

.homePageBody {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(0, 0, 0, .05);
    padding: 15px;
    border-radius: 10px;
}

.homePageRight {
    font-size: 25px;
}

/* ///////////////////////////////
// About Page
//////////////////////////////// */

/* ///////////////////////////////
// Projects Page
//////////////////////////////// */

img {
    max-width: 1200px;
}

.indexH1 {
    font-size: 50px;
}

.projectCard {
    background-color: rgb(0, 0, 0, .2);
}



/* ///////////////////////////////
// Contact Page
//////////////////////////////// */